html {
	background: linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(40, 4, 73, 0.45)
	), url("../images/bg.jpg");
	background-color: black;
	background-position: center;
	transition: background-size 0.5s;
	/* mix-blend-mode: multiply; */
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 101% auto;
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
}

.main > h1 {
	font-size: 110px;
}

.main > h2 {
	font-size: 60px;
	margin-top: -30px;
}

body {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	max-width: 1050px;
	padding: 15px;
	border-left: 5px solid black;
	border-radius: 20px;
	background-color: rgb(0, 0, 0, 0.5);
	/* opacity: 0.9; */
}

body:hover {
	opacity: 1;
}

body * {
	/* font-family: 'Share Tech Mono', monospace; */
	font-family: 'Quicksand', sans-serif;
}

body *::selection {
	background-color: #951b70;
}

.portrait  > img {
	height: 450px;
}

main {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 550px;
	display: flex;
	justify-content: space-between;
	margin-left: 50px;
}

h1, h2 {
	font-weight: 400;
	margin: 0px;
	padding: 10px 0px;
}

p, ul li {
	font-size: 22px;
}

.subdued {
	/* color: #808080; */
}

.highlight {
	color: white;
	/* font-weight: bold; */
	color: #C0C0C0;
}

header {
	background-color: lightgrey;
	z-index: 1;
	border-radius: 10px;
}

nav {
	display: block;
}

#nav_menu_button {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	border: 3px solid white;
	display: none;
	background-color: black;
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 15px;
}

#nav_menu_button p {
	padding: 15px;	
	margin: 0px;
}

header ul {
	padding: 10px 0px;
	margin: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

header ul a {
	color: black;
	/* border-bottom: 3px solid transparent; */
	transition: border 0.2s;
	text-decoration: none;
	border-radius: 10px;
	transition: all 0.5s;
	padding: 6px 15px;
}

header ul a:visited {
	color: inherit;
}

header ul a:hover {
	/* border-bottom: 1px solid black; */
	background-color: black;
	color: white;
}

.fa-external-link-alt {
	font-size: 16px;
}

@media screen and (max-width: 1230px) {
	body {
		margin-top: -17px;
		margin-bottom: -17px;
		/* This space is probably coming from break tags */
	}
}

@media screen and (max-width: 1200px) {
	main {
		padding-right: 450px;
	}
}


@media screen and (max-width: 990px) {
	main {
		padding-right: 250px;
	}
}

@media screen and (max-width: 800px) {
	main {
		padding-right: 0px;
	}
}

@media screen and (max-width: 840px) {
	header {
		position: absolute;
		top: 80px;
		right: 15px;
	}

	main {
		margin-top: 18px;
	}

	nav {
		display: none;
	}

	header ul {
		margin-top: 0px;
		flex-direction: column;
	}

	header ul li {
		padding: 10px;
	}

	#nav_menu_button {
		display: inline-block;
	}
}

@media screen and (min-width: 840px) {
	nav {
		display: block !important;
	}
}