body {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	max-width: 1200px;
	padding: 15px;
	padding-top: 0px;
	border-left: 3px solid black;
}

body * {
	font-family: 'Helvetica';
}

main {
	padding-top: 15px;
}

h1, h2 {
	font-weight: 300;
	margin: 0px;
	padding: 10px 0px;
}

p, ul li {
	font-size: 22px;
}

.subdued {
	color: #808080;
}

.highlight {
	color: darkblue;
}

header {
	background-color: lightgrey;
	z-index: 1;
}

nav {
	display: block;
}

#nav_menu_button {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	border: 3px solid black;
	display: none;
	background-color: white;
	transition: all 0.2s;
	position: absolute;
	top: 10px;
	right: 15px;
}

#nav_menu_button:hover {
	background-color: black;
	color: white;
}

#nav_menu_button p {
	padding: 15px;	
	margin: 0px;
}

header ul {
	padding: 10px 0px;
	margin-bottom: 0px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

header ul a {
	color: black;
	border-bottom: 3px solid transparent;
	transition: border 0.2s;
	padding: 0px 10px;
	text-decoration: none;
}

header ul a:hover {
	border-bottom: 3px solid black;
}

header ul a:visited {
	color: black;
}

@media screen and (max-width: 600px) {
	header {
		position: absolute;
		top: 80px;
		right: 15px;
	}

	nav {
		display: none;
	}

	header ul {
		margin-top: 0px;
		flex-direction: column;
	}

	header ul li {
		padding: 10px;
	}

	#nav_menu_button {
		display: inline-block;
	}
}

@media screen and (min-width: 600px) {
	nav {
		display: block !important;
	}
}