html {
	min-height: 100vh;
	background: linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(40, 4, 73, 0.45)
	);
}

#bg_img {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}

a, a:active, a:focus {
	outline: 0;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
}

.main {
	min-width: 500px;
}

.main2 {
	padding-top: 50px; 
	margin-left: 500px;
}

.main > h1 {
	min-width: auto;
	font-size: 110px;
}

.main h2 {
	min-width: auto;
	font-size: 60px;
	margin-top: -30px;
	display: inline;
}

.self_name {
	position: absolute;
	padding-left: 10px;
	font-size: 60px;
	display: inline-block;
}

.self_name > i {
	margin-right: 0 !important;
	position: relative;
	margin-right: 30px;
	float:right;
}

body {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	max-width: 1075px;
	padding: 15px;
	border-radius: 20px;
}

body:hover {
	opacity: 1;
}

body * {
	font-family: 'Quicksand', sans-serif;
}

body *::selection {
	background-color: #951b70;
}

.portrait  > img {
	height: 450px;
}

.home_main {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 50px;
}

h1, h2 {
	font-weight: 400;
	margin: 0px;
	padding: 10px 0px;
}

p, ul li {
	font-size: 22px;
}

.subdued {
	/* color: #808080; */
}

.highlight::selection {
	background-color: turquoise;
}

.highlight {
	/* color: white; */
	/* font-weight: bold; */
	color: rgb(149, 53, 187);
	font-weight: 600;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.45);
	/* text-shadow: 0 0 2px #8c2753; */
}

@keyframes mobile_nav_roll_down {
	from {
		max-height: 0;
	}

	to {
		max-height: 237px;
	}
}

@keyframes mobile_nav_roll_up {
	from {
		max-height: 237px;
	}

	to {
		max-height: 0;
	}
}

header {
	overflow: hidden;
	z-index: 1;
	border-radius: 10px;
	border-left: 3px dotted purple;
	border-right: 3px dotted purple;
	/* box-shadow: 0 0 5px #8c2753, 0 0 5px #8c2753 inset; */
	padding: 5px 0px;
	transition: box-shadow 0.2s;
}

.mobile_nav_roll_down {
	border-left: 3px dotted purple;
	border-right: 3px dotted purple;
	animation: mobile_nav_roll_down 0.2s;
}

.mobile_nav_roll_up {
	border: none;
	animation: mobile_nav_roll_up 0.2s;
}

/* header:hover {
	box-shadow: 0 0 10px #8c2753, 0 0 5px #8c2753 inset;
} */

nav {
	display: block;
}

#nav_menu_button {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	border: 3px solid white;
	display: none;
	background-color: black;
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 15px;
}

#nav_menu_button p {
	padding: 15px;	
	margin: 0px;
}

header ul {
	padding: 10px 0px;
	margin: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

header ul a::before, .self_name::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

header ul a:hover::before, .self_name:hover::before {
	visibility: visible;
	transform: scaleX(1);
}
  

header ul a, .self_name {
	color: white;
	/* border-bottom: 3px solid transparent; */
	/* transition: border 0.2s; */
	text-decoration: none;
	position: relative;
	/* border-radius: 10px; */
	/* transition: all 0.5s; */
	padding: 6px 15px;
}

.self_name { 
	padding: 0;
}

/* header ul a:visited {
	color: inherit;
} */

/* header ul a:hover { */
	/* border-bottom: 1px solid black; */
	/* background-color: black; */
	/* color: white; */
/* } */

.fa-external-link-alt {
	font-size: 16px;
}

@media screen and (max-width: 1230px) {
	body {
		margin-top: -17px;
		margin-bottom: -17px;
		/* This space is probably coming from break tags */
	}

	.main2 {
		margin-left: 0px;
	}
}

@media screen and (max-width: 1200px) {
	main {
		padding-right: 450px;
	}
}


@media screen and (max-width: 990px) {
	main {
		padding-right: 250px;
	}
}

@media screen and (max-width: 800px) {
	main {
		padding-right: 0px;
	}
}

@media screen and (max-width: 840px) {
	header {
		position: absolute;
		top: 80px;
		right: 15px;
		background-color: black;
		border: none;
	}

	main {
		margin-top: 18px;
	}

	nav {
		display: none;
	}

	header ul {
		margin-top: 0px;
		flex-direction: column;
	}

	header ul li {
		padding: 10px;
	}

	#nav_menu_button {
		display: inline-block;
	}
}

@media screen and (min-width: 841px) {
	nav {
		display: block !important;
	}
}

@media screen and (max-width: 650px) {
	.main {
		min-width: auto;
	}

	.home_main {
		padding-right: 20px;
		margin-left: 20px;
	}
}

@media screen and (min-width: 650px) {
	.main {
		min-width: 500px;
	}

	.home_main {
		padding-right: 450px;
	}
}

@media screen and (max-width: 410px) {
	.main > h1 {
		font-size: 75px;
	}

	.main h2, .self_name {
		font-size: 40px;
	}
}
