main {
	padding: 0px;
	padding-top: 15px;
}

.project {
	border-right: 3px solid transparent;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	transition: all 0.2s;
	margin: 15px 0px;
}

.not_personal {
	/* background-color: #f2f2f2; */
	background-color: transparent;
	border: 3px solid white;
}

.personal {
	/* background-color: #ddff99; */
	background-color: transparent;
	border: 3px solid yellow;
}

.project:hover {
	border-right: 3px solid black;
}

.project_info {
	padding: 15px;
}

p {
	margin: 0px;
}

.name a {
	color: white;
	text-decoration: none;
}

.name a:visited {
	color: white;
}

.name p {
	display: inline;
}

.fa-link, .fa-chrome, .fa-firefox {
	display: inline;
	transition: all 0.2s;
	opacity: 0.3;
}

.fa-link:hover, .fa-chrome:hover, .fa-firefox:hover {
	opacity: 0.9;
}

.fa-firefox, .fa-chrome {
	font-size: 20px;
}

.description {
	padding: 15px 0px;
}

.description p {
	font-size: 18px;
}

.snapshot {
	padding: 15px;
	min-width: 350px;
	max-width: 350px;
	transition: all 0.2s;
}

.snapshot:hover {
	opacity: 0.5;
}

.snapshot img {
	width: 100%;
	height: auto;
}

@media screen and  (max-width: 840px) {
	main > h2 {
		margin-top: 25px;
		padding-right: 100px;
	}
}

@media screen and (max-width: 840px) {
	.project {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 840px) {
	main h2 {
		font-size: 23px;
	}

	.snapshot {
		min-width: 0px;
		max-width: 100%;
	}
}