body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

body * {
    color: white;
}

.city_code_container {
    width: 300px;
    text-align: center;
}

.city_code {
    color: white;
    font-size: 92px;
    margin-left: -5%;
    font-family: 'Roboto Slab', serif;}

.dots_container_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.dots_container {
    position: relative;
    height: 93%;
    width: 93%;
}

.dot {
    position: absolute;
    height: 3px;
    width: 3px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    animation-delay: 1s;
    animation-duration: 2s;
    animation: fadeIn;
}

.clock {
    position: relative;
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    border-radius: 50%;
    height: calc(1 * 40vw);
    width: 40vw;
    animation: fadeIn 0.5s;
}

.h_s {
    position: absolute;
    animation: fadeIn 0.5s;
    display: none;
    top: 50%;
    left: calc(50% - 0.5px);
    height: 40%;
    width: 1px;
    background-color: red;
    transform: rotate(180deg);
    border-radius: 1px;
    transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
    transform-origin: 0px 0px;
}

.h_h {
    position: absolute;
    animation: fadeIn 0.5s;
    display: none;
    top: 50%;
    left: calc(50% - 0px);
    height: 30%;
    width: 2px;
    background-color: white;
    transform: rotate(180deg);
    border-radius: 5px;
    transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
    transform-origin: top center;
}

.h_m_top {
    height: 75%;
    left: -4px;
    border-radius: 5px;
    top: 25%;
    width: 10px;
    position: absolute;
    background-color: white;
}

.h_m {
    position: absolute;
    animation: fadeIn 0.5s;
    display: none;
    top: 50%;
    left: calc(50% - 2px);
    height: 35%;
    width: 3px;
    border-radius: 5px;
    background-color: white;
    transform: rotate(180deg);
    transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
    transform-origin: top center;
}

.center_point {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

@media only screen and (max-width: 1200px) {
    .clock {
        width: 50vw;
        height: calc(1 * 50vw);
    }
}

@media only screen and (max-width: 1000px) {
    body {
        flex-direction: column-reverse;
        height: 90vh;
    }

    .clock {
        width: 70vw;
        height: calc(1 * 70vw);
    }
}
